<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<h1>Result</h1>
<p th:text="'username: ' + ${username}" />
<p th:text="'facebookProfile: ' + ${facebookProfile}" />

<a href="/registration">Normal Registration</a>
<a href="/connect/facebook">Facebook Registration</a>

<form action="/connect/facebook" method="POST">
    <input type="hidden" name="scope" value="user_posts" />
    <div class="formInfo">
        <p>You aren't connected to Facebook yet. Click the button to connect this application with your Facebook account.</p>
    </div>
    <p><button type="submit">Connect to Facebook</button></p>
</form>

</body>
</html>